# Archivos de compilación y directorios
bin/
obj/

# Archivos de configuración de usuario de Visual Studio
.vs/
.vscode/

# Archivos de configuración de usuario de Rider
.idea/

# Archivos de configuración de usuario de Visual Studio para Mac
.vscode/

# Archivos de dependencias
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos de compilación de paquetes
*.dll
*.exe
*.pdb
*.cache

# Archivos de registro
*.log

# Archivos de respaldo del sistema operativo
Thumbs.db
Desktop.ini

# Archivos de contenedores de Docker
.dockerignore
Dockerfile
docker-compose.yml

# Archivos de configuración de NuGet
.nuget/

# Archivos específicos de macOS
.DS_Store

# Archivos específicos de Windows
# Si estás utilizando Git en Windows, puedes ignorar estos archivos:
ehthumbs.db
Icon?
